{%load static%}

<link rel="stylesheet" href="{%static 'core/css/bootstrap.css'%}">
<link rel="stylesheet" href="{%static 'core/css/estilos.css'%}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<div class="row" id="proyectos">

        <div class="col-lg-md-12"> 
            <h1 style="font-size: 3vw; font-weight: bolder; text-align: center; color: #e5b300;">Formulario</h1>
        </div>
        <div class="col-lg-md-12"> 
            <h1 style="font-size: 4vw; font-weight: bolder; text-align: center;">Ingresar Produccion</h1>
        </div>
        <div style="text-align: center;">
            <form action="{% url 'base' %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-3">
                        <p>Codigo Combustible:</p>
                        {{ form.codigo }}
                    </div>
                    <div class="col-3">
                        <p>Litros:</p>
                        {{ form.litros }}
                    </div>
                    <div class="col-3">
                        <p>Fecha de Produccion:</p>
                        {{ form.fecha }}
                    </div>
                    <div class="col-3">
                        <p>Turno:</p>
                        {{ form.turno }}
                    </div>
                    <div class="col-3">
                        <p>Hora:</p>
                        {{ form.hora }}
                    </div>
                    <div class="col-3">
                        <p>Operador:</p>
                        {{ form.operador }}
                    </div>
                    <div class="col-2">
                        <button type="submit">ENVIAR</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>